body {
    font-family: Arial, sans-serif;
    background-color: #535353;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
}

.form-box {
    background-color: #fffbfb;
    padding: 40px;
   
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
 
}

.register-form {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;

}

.form-group input:focus {
    border-color: #2196f3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #2191f3;
  
}

